.not-found {
  height: 100vh;
  background-color: #0b0d17;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.not-found h3 {
  font-size: clamp(75px, 6.944vw, 6.944vw);
}

.not-found p {
  font-size: clamp(25px, 3.472vw, 3.472vw);
}
